<section>
    <ul>
    <% data.forEach(book =>{ %>
        <li>
            <h3>Book Title: <%= book.title %> </h3>
            <p>Author: <%= book.author %> </p>
            <p>Book ISBN: <%= book.isbn %> </p>
            <p>Description: <%= book.descript %> </p>
            <img src=   <%= book.image_url%> alt="image placehoder">
        </li>
        <br>
    <%   }) %>
    </ul>
</section>
