<!DOCTYPE html>
<html>
	<head>
			<title>Book App</title>
			<link rel="stylesheet" type="text/css" href="styles/base.css"/>
	</head>
	<body>
			<header>
				<h1> Books </h1>
			</header>
			<main>
            <% displayData.forEach(book => { %>
							<img src= <%= book.thumbnail %> alt="book">
							<p>Title: <%= book.title %></p>
							<p>Authors: <%= book.authors %></p>
							<p>Description: <%= book.description %></p>
							<form action="/add" method="post">
								<input name="title" value= "<%= book.title %>" type="hidden">
								<input name="authors" value=" <%= book.authors %>" type="hidden">
								<input name="isbn" value=" <%= book.isbn %>" placeholder="" type="hidden">
								<input name="image_url" value=" <%= book.image_url %>" type="hidden">
								<input name="description" value=" <%= book.description %>" type="hidden"></textarea>
								<button type="subit" > Add Book!</button>
							</form>
							<br>
							<br>
					<% }); %>
			</main>
	</body>
</html>