<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    </head>
    <body>

    </div>

        <header>
            <h1>You have (<%= data.length %>) book entries</h1>

            <a href="/search"> Search For a Book</a>

        </header>
        <main>
            <br>
            <ul>
                <% data.forEach(book =>{ %>
                    <li>
                        <img src=   <%= book.image_url%> alt="image placehoder">
                        <h3><%= book.title %> </h3>
                        <p>Author: <%= book.author %> </p>
                        <p>Book ISBN: <%= book.isbn %> </p>
                        <p>Description: <%= book.descript %> </p>
                        
                    </li>
                    <br>
                    <form>
                        <button>Delete Book</button>
                        <button>Update Book</button>
                    </form>
                    <br>

                <%   }) %>


                </ul>

        </main>
        <footer>

        
        </footer>
    </body>
</html>