<!DOCTYPE html>
<html>

<head>
	<title>Book App</title>
	<link rel="stylesheet" type="text/css" href="styles/reset.css" />
	<link rel="stylesheet" type="text/css" href="styles/base.css" />
</head>

<body>
	<div id="wrapper">
		<header>
			<h1>You have (<%= potato.length %>) book entries</h1>
			<a href="/search"> Search For a Book</a>
		</header>
		<main>
			<br>
			<ul>
				<% potato.forEach(book =>{ %>
				<li>
					<img src=<%= book.image_url%> alt="image placehoder">
					<h3><%= book.title %> </h3>
					<p>Author: <%= book.author %> </p>
					<p>Book ISBN: <%= book.isbn %> </p>
					<p>Description: <%= book.descript %> </p>

				</li>
				<br>
				<form method="POST" action="<%=`/books/${book.id}` %>" >
					<button value=<%= book.id %>> Delete Book </button>
					<input type="hidden" name="_method" value="DELETE">
				</form>
				<br>
				<%   }) %>
			</ul>
		</main>
		<footer>

		</footer>
	</div>
</body>

</html>